<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myfirstapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HB Android App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyFirstApplication">
        <activity
            android:name=".Activity_AutoComplete"
            android:exported="true"
            android:label="Task 5: AutoComplete TextView"
            android:parentActivityName=".Activity_Task5_Home" />
        <activity
            android:name=".Activity_GridView"
            android:exported="true"
            android:label="Task 5: GridView"
            android:parentActivityName=".Activity_Task5_Home" />
        <activity
            android:name=".Activity_Spinner_List"
            android:exported="true"
            android:label="Task 5: Spinner List"
            android:parentActivityName=".Activity_Task5_Home" />
        <activity
            android:name=".Activity_Simple_List"
            android:exported="true"
            android:label="Task 5 : Simple List"
            android:parentActivityName=".Activity_Task5_Home" />
        <activity
            android:name=".Activity_Task5_Home"
            android:exported="true"
            android:label="Task 5"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity_Task4_Home"
            android:exported="true"
            android:label="Task 4"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Activity5"
            android:exported="true"
            android:label="Task 4 : Activity 5"
            android:parentActivityName=".Activity_Task4_Home" />
        <activity
            android:name=".Activity4"
            android:exported="true"
            android:label="Task 4 : Activity 4"
            android:parentActivityName=".Activity_Task4_Home" />
        <activity
            android:name=".Activity3"
            android:exported="true"
            android:label="Task 4 : Activity 3"
            android:parentActivityName=".Activity_Task4_Home" />
        <activity
            android:name=".Activity2"
            android:exported="true"
            android:label="Task 4 : Activity 2"
            android:parentActivityName=".Activity_Task4_Home" />
        <activity
            android:name=".Activity1"
            android:exported="true"
            android:label="Task 4 : Activity 1"
            android:parentActivityName=".Activity_Task4_Home" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>